@CHARSET "UTF-8";
/**
*#000030:Azul realmente -oscuro
*#0C1D54:Azul Oscuro rgba(12,29,84,0.8)
*#8FFFFF:Azul Enfático
*#4057A3:Azul Cielo
*#C1D0E3:Gris Nube
*#F9FF45:Amarillo Brillante
*#CBD126:Amarillo Oscuro
*#AD661A:Marron Oscur
*/

/**ELEMENTOS GENERALES**/
* {
	overflow: hidden;
	color: inherit;
	cursor: url("../src/cursor.png"),url("../src/cursor.svg"),hand;
}

body {
	height: auto;
	background-image: url("../src/background.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-color: #000030;
	color: #C1D0E3;
}

a {
	color: #CBD126;
	text-decoration: none;
}

a:hover {
	color: #F9FF45;
	text-decoration: none;
}

a:active {
	color: #F9FF45;
	text-decoration: none;
	text-shadow: 0.5px 0.5px #C1D0E3;
}

input, textarea, option, select {
	color: #1454A8;
	width:100%;
}

h1 {
	margin: 0px;
	width: 100%;
	background-color: #C1D0E3;
	color: #4057A3;
}

h2 {
	margin: 0px;
	width: 100%;
	background-color: #C1D0E3;
	color: #4057A3;
	font-style: italic;
}

td{
	padding:4px;
}

legend{
	font-size:x-small;
}

* > img{
	box-shadow: none;
	background-color: transparent;
}

/**ESTRUCTURA BÁSICA**/
#yggdrasil {
	position: relative;
	width: 1200px;
	height:1024px;
	margin: 0 auto;
	background-color: transparent;
	color: #C1D0E3;
}

#copa {
	position: absolute;
	left: 306px;
	height: 150px;
	width: 400px;
	background-color: rgba(0,0,48,0.85);
	border: 2px solid #F9FF45;
	border-radius: 100px;
}

#tronco {
	position: relative;
	top: 160px;
	width: 100%;
	background-color: transparent;
	left: 0px;
}

#raiz {
	position: relative;
	top: 180px;
	height: 15px;
	width: 98%;
	background-color: rgba(12,29,84,0.85);
	border: 2px solid #F9FF45;
	text-align:center;
	border-radius: 5px;
}

/**ELEMENTOS DE LA CABECERA**/
#cristalLog {
	position: relative;
	top: 0px;
	left: 125px;
	height: 150px;
	width: 150px;
	border-radius: 75px;
	overflow: hidden;
	z-index: 5;
}

#cristalLog img {
	height: 150px;
	width: 150px;
}

.desplegable {
	position: absolute;
	height: 24px;
	width: 150px;
	border: 1px solid #CBD126;
	border-radius: 12px;
	background-color: #0C1D54;
	display:block;
}

.desplegableIzq img{
	margin-right:10px;
}

.desplegableDer img{
	margin-left:10px;
}

/**Estructura Yggdrasil*/
.contenedor{
	position: absolute;
	padding: 2%;
	background-color: rgba(12,29,84,0.85);
	border: 2px solid #F9FF45;
	border-radius: 5px;
}

.contenedorTransparente{
	position: absolute;
	padding: 2%;
	background-color: transparent;
	border: none;
}

.column{
	top: 0%;
	height: 80%;
}

.box{
	height: 32%;
}

.hleft{
	left: 0%;
	width: 42%;
	margin: 2%;
	text-align: left;
}

.hright{
	left: 50%;
	width: 42%;
	margin: 2%;
	text-align: left;
}

.left{
	left: 0%;
	width: 20%;
	margin: 2% 1%;
	text-align: right;
}

.mid{
	left: 25%;
	width: 41%;
	margin: 2%;
	text-align: center;
}

.right{
	left: 73%;
	width: 20%;
	margin: 2% 1%;
	text-align: left;
}

.bot{
	top: 48%;
}

.top{
	top: 0%;
}

.big{
	left: 25%;
	width: 67%;
	margin: 2%;
	text-align: center;
}


/**ELEMENTOS ESPECIALES**/
#registro table{
	width:100%;
}

#logueo table{
	width:100%;
}

.esferaLoading{
	position: relative;
	margin: 0px auto;
	height: 150px;
	width: 150px;
	border-radius: 75px;
	overflow: hidden;
	z-index: 5;
}

.esferaLoading > img {
	height: 150px;
	width: 150px;
}

.alignRight {
	text-align: right;
}

.alignLeft {
	text-align: left;
}

.alignCenter {
	text-align: center;
}

.subtitle {
	font-size: smaller;
}

.contenedor > .tablaDatos{
	width:450px;
}

.pairRow {
	background-color: #364989;
	color: white;
}

.inpairRow {
	background-color: #576FBD;
	color: white;
}

.enfasis {
	color: #F9FF45;
	font-size: larger;
	font-weight: bold;
	margin: 2px;
}

.cursiva {
	font-style:italic;	
}

.new * {
	border: 2px solid #F9FF45;
}

.tdCabecera{
	border: 2px solid #0C1D54;
	background-color: #F9FF45;
	color: #000030;
	font-weight:bold;
}

.tdSimple{
	border: 2px solid #0C1D54;
	background-color: #F9FF45;
	color: #000030;
	font-size:larger;
}

.date {
	color: #CBD126;
	font-size: small;
	font-style: italic;
}

.error {
	background-color: red;
	border: 3px solid yellow;
	text-align: center;
	color: yellow;
}

.error > * {
	background-color: red;
	text-align: center;
	color: yellow;
}

.ventana {
	top: 100px;
	left: 100px;
	height: auto;
	width: auto;
	padding: 0px;
	position: fixed;
	z-index: 5;
	color: #C1D0E3;
	background-color: #0C1D54;
	font-size: smaller;
	border: 3px solid #F9FF45;
	border-radius: 4px;
	box-shadow: 5px 5px 5px #000030;
}

.ventanaSelector {
	color: #000030;
	font-style: italic;
	font-weight: bold;
	width: inherit;
	height: 30px;
	background-color: #F9FF45;
	text-align:center;
}

.ventanaContent {
	height: auto;
	width: auto;
}

.oculto {
	display: none;
}

.botonsBar {
	width: auto;
	height: auto;
	padding: 3px;
	overflow: visible;
	border: 2px solid #C1D0E3;
	background-color: #000030;
	text-align:center;
}

.boton, .submit, .botonVentana {
	margin: 5px;
	height: 20px;
	width: 50px;
	border-radius: 5px;
	border: 2px solid #CBD126;
	color: #000030;
	background-color: #F9FF45;
	font-size: 10px;
	font-weight:bold;
	display: inline-block;
	text-align:center;
}

.boton > *, .submit > *, .botonVentana > * {
	background-color: #F9FF45;
}

.sendingForm {
	width: 100%;
	height: 100%;
}

.sendingFormCabecera{
	margin-top:2%;
	height:12%;
}

.inputTitle{
	width:50%;
}

.sendingFormContent{
	margin-top:0%;
	height:52%;
}

.sendingFormOpciones{
	margin-top:0%;
	height:20%;
}

.bigColumnTArea {
	width: 100%;
	height: 100%;
}

.scrollingBox {
	width: 100%;
	height: 66%;
	background-color: #000030;
	text-align: left;
}

.scrollingBoxHead {
	margin-top: 5px;
	margin-left: 2%;
	margin-right: 2%;
	width: 96%;
	color: #CBD126;
	font-weight: bold;
}

.scrollingBox > table {
	width: 100%;
}

.scrollingBoxMoving{
	position: relative;
	width: 15px;
	background-color: #0C1D54;
}

.scrollingBoxMovingBar{
	position: absolute;
	height: 40px;
	width: 13px;
	background-color: #C1D0E3;
	border: 1px solid #000030;
}

.scrollingBoxMovingUp{
	position: absolute;
	height: 15px;
	width: 13px;
	background-color: #C1D0E3;
	border: 1px solid #000030;
}

.scrollingBoxMovingDown{
	position: absolute;
	height: 15px;
	width: 13px;
	background-color: #C1D0E3;
	border: 1px solid #000030;
}

.columnSmall {
	margin: 2%;
	width: 25%;
}

.columnBig {
	margin: 2%;
	width: 60%;
}

.conjunto {
	background-color: #4057A3;
	color: #C1D0E3;
	font-size: larger;
	margin: 2% auto;
	width:96%;
	border-radius: 10px;
	text-align:center;
}

.contenidoConjunto {
	margin: 2% auto;
	height: auto;
	width: 96%;
	border: 2px solid #4057A3;
	background-color: #C1D0E3;
	color: #4057A3;
	border-radius: 10px;
	font-size: smaller;
	font-weight: bold;
	text-align:center;
}

.alerta {
	position:fixed;
	width:10%;
	background-color:red;
	border: 4px solid yellow;
	padding:20px;
	text-align:center;
	color:yellow;
}

.uSimple{
	font-weight:bold;
	font-style:italic;
	color:#C1D0E3;
}

.uModerador{
	font-weight:bold;
	font-style:italic;
	color:#8FFFFF;
}

.uAdmin{
	font-weight:bold;
	font-style:italic;
	color:#F9FF45;
}

.uBanned{
	font-weight:bold;
	font-style:italic;
	color:grey;
}

.avatarUser{
	height: 80px;
	width: 80px;
	border: 2px solid #F9FF45;
}

.esTDistica{
	background-color: #000030;
	color:white;
	width:25%;
}

.grito, .firma{
	font-weight:bolder;
	font-style:italic;
	font-size:small;
	color:white;
	text-shadow:2px 2px 2px #F9FF45;
}