@CHARSET "UTF-8";

* {
	position: relative;
}

body {
	background-color: grey;
	height: auto;
}

form {
	color: white;
	background-color: #000030;
}

.oculto {
	display: none;
}

.ventana {
	height: auto;
	position: fixed;
	z-index: 3;
	color: white;
	background-color: #000030;
	font-size: smaller;
	border: 2px solid #E8E81A;
	border-radius: 4px;
	box-shadow: 5px 5px 5px black;
}

.selector {
	color: #000030;
	font-style: italic;
	font-weight: bold;
	width: inherit;
	height: 20px;
	background-color: #E8E81A;
}

#yggdrasil {
	width: 1024px;
	margin: 0 auto;
	background-color: #000030;
}

#copa {
	height: 50px;
	color: white;
	background-color: #000030;
}