@CHARSET "UTF-8";

/**
*#000030:Azul realmente -oscuro
*#0C1D54:Azul Oscuro
*#8FFFFF:Azul Enfático
*#4057A3:Azul Cielo
*#C1D0E3:Gris Nube
*#F9FF45:Amarillo Brillante
*#CBD126:Amarillo Oscuro
*#AD661A:Marron Oscur
*/

/**FORMATO Y ASPECTO**/

#contenidoPrincipal *{
	position:relative;
}

#columnaInfo>*{
	width:100%;
}

#datos{
	margin-top:20px;
}

#game{
	margin: 0px auto;
	top: 0px;
	left: 0px;
	color: white;
	margin: 0px auto;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

#panelin {
	background-color: rgba(12,29,84,0.85);
}

#matchAvatar {
	position: relative;
	top:20px;
	height: 150px;
	width: 150px;
	border: 4px solid #F9FF45;
	border-radius: 77px;
	overflow: hidden;
	z-index: 5;
}